.DS_Store
node_modules
/dist
.firebaserc
firestore.rules
firebase.json
firesotre-debug.log
firestore.indexes.json
firestore.rules
pubsub-debug.log
remoteconfig.template.json
storage.rules
ui-debug.log
deploy.sh
database.rules.json
database-debug.log
.gitignore
.firebaserc
.env
/.firebase
/functions
/src/fire.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
